body {
  text-align: center;
  padding: 2em;
  background-color: #232323;
  color: #eee
}

label {
  color: #6b7c93;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.node {
  white-space: nowrap;
  color: #fff;
  border-radius: 50%;
  background-color: #6772e5;
  min-height: 20vh;
  min-width: 20vh;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 0;
}

.node:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8;
  /* box-shadow: 0 0 100px #0066ff; */
  /* transform: translateY(-1px); */
  /* box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08); */
}

/* Glowing Effect */
.node-default {
  background-color: #000;
  color: #ffe100;
}
.node-primary {
  background-color:
    #ffe100;
  color: #000;
}

@keyframes glowing {
  0% { box-shadow: 0 0 10px #00ffff; }
  40% { box-shadow: 0 0 100px #0066ff; }
  60% { box-shadow: 0 0 100px #0066ff; }
  100% { box-shadow: 0 0 10px #00ffff; }
}

.glow {
  /* box-shadow: 0 0 20px #00ffff; */
  animation: glowing 5000ms infinite;
}